body {
    font-size: 1em;
}

textarea {
    min-height: 400px;
}

.read {
    background-color: #f9f9f9;
    color: #999999;
    font-weight: normal;
    font-style: italic;
}

.unread {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

td {
    font-size: 0.95em;
}
